<h3><%= link_to '<< Back', controller: 'welcome' %> </h3>

<%= search_form_for @q do |f| %>
  <br>
  <%= f.label :address_or_municipality_or_postal_or_lsc_cont %>
  <%= f.search_field :address_or_municipality_or_postal_or_lsc_cont %>
  <%= f.submit %>
<% end %>

<h1>Listing entries</h1>
<table>
  <tr>
    <th>mls_id</th>
    <th><%= sort_link(@q, :postal) %></th>
    <th><%= sort_link(@q, :address) %></th>
    <th><%= sort_link(@q, :street_name) %></th>
    <th>municipality</th>
    <th>Beds</th>
    <th>Washrooms</th>
    <th>list_price</th>
    <th><%= sort_link(@q, :lsc) %></th>
    <th>Listing Date</th>
  </tr>
 
  <% @res.each do |entry| %>  
    <tr>
      <td><%= entry.mls_id %></td>
      <td><%= entry.postal %></td>
      <td><%= entry.address %></td>
      <td><%= entry.street_name %></td>
      <td><%= entry.municipality %></td>
      <td><%= entry.beds %></td>
      <td><%= entry.wr %></td>
      <td><%= entry.list_price %></td>
      <td><%= entry.lsc %></td>
      <td><%= entry.updated_at.to_date %></td>

      <td><%= link_to 'Show', controller: 'entries', action: 'show', id: entry.id %><td>
      <td><%= link_to 'Edit', controller: 'entries' %><td>
      <td><%= link_to 'Delete', controller: 'entries' %><td>
    </tr>
  <% end %>
</table>
