<h3><%= link_to '<< Back', controller: 'welcome' %> </h3>

<h3>Listings in database: <%=@properties.count%></h3>
<%= search_form_for @q do |f| %>
  <br>
  <%= f.label :street_name_or_address_or_municipality_or_postal_cont %>
  <%= f.search_field :street_name_or_address_or_municipality_or_postal_cont %>
  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>
  <br>
  <%= f.label :expected_return_rate_gt %>
  <%= f.search_field :expected_return_rate_gt %> (0.05)
  <%= f.submit %>
<% end %>

<%= search_form_for @q do |f| %>
  <br>
  <%= f.label :basement_cont %>
  <%= f.search_field :basement_cont %>
  <%= f.submit %>
<% end %>

<h1>Listing properties</h1>
<table>
  <tr>
    <th>mls_id</th>
    <th><%= sort_link(@q, :print_date) %></th>
    <th><%= sort_link(@q, :postal) %></th>
    <th><%= sort_link(@q, :address) %></th>
    <th><%= sort_link(@q, :municipality) %></th>
    <th><%= sort_link(@q, :bedrooms) %></th>
    <th><%= sort_link(@q, :washrooms) %></th>
    <th><%= sort_link(@q, :home_style) %></th>
    <th><%= sort_link(@q, :taxes) %></th>
    <th><%= sort_link(@q, :lot) %></th>
    <th><%= sort_link(@q, :listing_status) %></th>
    <th><%= sort_link(@q, :home_type) %></th>
    <th><%= sort_link(@q, :basement) %></th>
    <!-- <th><%= sort_link(@q, :kitchens) %></th> -->
    <th><%= sort_link(@q, :list_price) %></th>
    <th><%= sort_link(@q, :sale_price) %></th>
    <!-- <th><%= sort_link(@q, :leased_date) %></th> -->
    <th><%= sort_link(@q, :leased_price) %></th>
    <th><%= sort_link(@q, :expected_return_rate) %></th>
    <!-- <th><%= sort_link(@q, :sold_date) %></th> -->
    <!-- <th><%= sort_link(@q, :total_rooms) %></th> -->
    <!-- <th><%= sort_link(@q, :basement_rooms) %></th> -->
  </tr>
 
  <% @properties.each do |property| %>  
    <tr>
      <td><%= property.mls_id %></td>
      <td><%= property.print_date.strftime("%m/%d/%Y") if property.print_date.present? %></td>
      <td><%= property.postal %></td>
      <td><%= property.address %></td>
      <td><%= property.municipality %></td>
      <td><%= property.bedrooms %></td>
      <td><%= property.washrooms %></td>
      <td><%= property.home_style %></td>
      <td><%= property.taxes %></td>
      <td><%= property.lot %></td>
      <td><%= property.listing_status %></td>
      <td><%= property.home_type %></td>
      <td><%= property.basement %></td>
      <!-- <td><%= property.kitchens %></td> -->
      <td><%= property.list_price %></td>
      <td><%= property.sale_price %></td>
      <!-- <td><%= property.leased_date %></td> -->
      <td><%= property.leased_price %></td>
      <td><%= '%.3f' % (100*property.expected_return_rate) rescue nil %></td>
      <!-- <td><%= property.sold_date %></td> -->
      <!-- <td><%= property.total_rooms %></td> -->
      <!-- <td><%= property.basement_rooms %></td> -->
      <td><%= link_to 'Show', controller: 'properties', action: 'show', id: property.id %><td>
      <!-- <td><%= link_to 'Edit', controller: 'properties' %><td> -->
      <!-- <td><%= link_to 'Delete', controller: 'properties' %><td> -->
    </tr>
  <% end %>
</table>
<%= will_paginate @properties %>
