<h3><%= link_to '<< Back', controller: 'welcome' %> </h3>

<h3>Listings in database: <%= @rent_listings.count%></h3>
<%= search_form_for @q do |f| %>
  <br>
  <%= f.label :address_or_postal_cont %>
  <%= f.search_field :address_or_postal_cont %>
  <%= f.submit %>
<% end %>

<h1>Rent Listings</h1>
<table>
  <tr>
    <th>mls_id</th>
    <th><%= sort_link(@q, :status) %></th>
    <th><%= sort_link(@q, :address) %></th>
    <th><%= sort_link(@q, :asking_price) %></th>
    <th><%= sort_link(@q, :postal) %></th>
    <th><%= sort_link(@q, :bedrooms) %></th>
    <th><%= sort_link(@q, :washrooms) %></th>
  </tr>

  <% @rent_listings.each do |property| %>
    <tr>
      <td><%= property.mls_id %></td>
      <td><%= property.status %></td>
      <td><%= property.address %></td>
      <td><%= property.asking_price %></td>
      <td><%= property.postal %></td>
      <td><%= property.bedrooms %></td>
      <td><%= property.washrooms %></td>
    </tr>
  <% end %>

</table>
<%= will_paginate @properties %>
