<h1>Listing entries</h1>

<table>
  <tr>
    <th>mls_id</th>
    <th>address</th>
    <th>municipality</th>
    <th>list_price</th>
    <th>Status</th>
    <th>Listing Date</th>
  </tr>
 
  <% @entries.each do |entry| %>  
    <tr>
      <td><%= entry.mls_id %></td>
      <td><%= entry.address %></td>
      <td><%= entry.municipality %></td>
      <td><%= entry.list_price %></td>
      <td><%= entry.lsc %></td>
      <td><%= entry.updated_at.to_date %></td>
    </tr>
  <% end %>
</table>
